<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div><img src="/img/logo.png" alt=""></div>
        <nav>
            <ul class = "menu">
                <li><a href="">smarphone</a></li>
                <li><a href="">tablet</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul class= "usuario">
                <li><a href="">login</a></li>
                <li><a href="">register</a></li>
            </ul>
        </nav>
        </header>
        <main>
            <section class="producto">
                <article>
                    <img src="/img/img-phone-01.jpg" alt="telefono  movil">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque minima rerum eius totam. Error necessitatibus, corporis vitae laudantium porro iste ut ducimus, quas voluptates praesentium quidem aliquid, asperiores excepturi.</p>
                    <a href="">ver más</a>
                </article>
                <article>
                    <img src="/img/img-phone-01.jpg" alt="telefono  movil">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque minima rerum eius totam. Error necessitatibus, corporis vitae laudantium porro iste ut ducimus, quas voluptates praesentium quidem aliquid, asperiores excepturi.</p>
                    <a href="">ver más</a>
                </article>
                <article>
                    <img src="/public/img/img-phone-02.jpg" alt="telefono  movil">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque minima rerum eius totam. Error necessitatibus, corporis vitae laudantium porro iste ut ducimus, quas voluptates praesentium quidem aliquid, asperiores excepturi.</p>
                    <a href="">ver más</a>
                </article>
                <article>
                    <img src="/public/img/img-phone-03.jpg" alt="telefono  movil">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque minima rerum eius totam. Error necessitatibus, corporis vitae laudantium porro iste ut ducimus, quas voluptates praesentium quidem aliquid, asperiores excepturi.</p>
                    <a href="">ver más</a>
                </article>
            </section>
            <aside>
                <section class="tutoriales">
                    <h3>Tutoriales</h3>
                    <article>
                        <img src="/img/aside-01.jpg" alt="imagen tutorial 1">
                        <p>titulo tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/img/aside-02.jpg" alt="imagen tutorial 1">
                        <p>titulo tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/img/aside-03.jpg" alt="imagen tutorial 1">
                        <p>titulo tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/img/aside-04.jpg" alt="imagen tutorial 1">
                        <p>titulo tutorial de reparacion</p>
                    </article>
                </section class= "puclicidad">
                <h3>Publicidad</h3>
                <img src="/img/ad-01.jpg" alt="">
                <img src="/img/ad-02.jpg" alt="">
                <section>

                </section>
            </aside>
        </main>
</body>
</html>